
- content_for :title, 'Edit device type'
- content_for :breadcrumbs, { '/' => 'Home', '/admin' => 'Admin', '/admin/device_types' => 'Device types' }

.ui.container{style: 'padding: 2em 1em 1em 1em'}

  %h1.ui Edit device type

  .ui.segments

    .ui.segment
      %form.ui.form{action: '', method: 'post'}
        %input{type: 'hidden', name: '_method', value: (device_type.new? || device_type.id.nil?) ? 'POST' : 'PUT'}
        != csrf_tag

        .field
          %label Name:
          %input{type: 'text', name: 'device_type[name]', placeholder: 'Device type name', value: device_type[:name]}

        %h3 Controls:
        #controls.ui.segments
          - device_type.control_types.each do |control_type|
            != partial('admin/device_type_controls', locals: {control_type: control_type})

        %button.ui.primary.button
          Save device type
        %a.ui.secondary.button{href: '/admin/device_types'}
          Cancel
        .ui.secondary.button.add-control
          Add new control

#control-template.hidden
  != partial('admin/device_type_controls', locals: {control_type: {id: nil, name: nil}})

:javascript
  $(document).ready(function() {
    $('.button.delete-control').toggleClass('disabled', $('#controls').find('.one-control').length < 2);
  });
