
- content_for :title, 'Administration'
- content_for :breadcrumbs, { '/' => 'Home'  }

.ui.container{style: 'padding: 2em 1em 1em 1em'}

  .ui.segments
    .ui.segment
      %a.ui.button.huge.primary.fluid{href: '/admin/device_types'}
        Configure device types
    .ui.segment
      %a.ui.button.huge.primary.fluid{href: '/admin/devices'}
        Configure devices
