
- content_for :title, 'Internal Server Error'
- content_for :breadcrumbs, { '/' => 'Home' }

.ui.container{style: 'padding: 2em 1em 1em 1em'}
  %h1 Internal Server Error (500)
  %p Oh no! Something went really wrong :-(


