
.hidden {
  visibility: hidden;
  display: none;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.highlighted-yellow {
  background-color: #FFF13B !important;
}

.highlighted-green {
  background-color: #66FF85 !important;
}

.highlighted-transition {
  transition: color 0.25s ease, background-color 0.5s ease  !important;
}

